!!!5
%html

  %head
    %title
      = "Sharebox | " + (content_for?(:title) ? yield(:title) : "File-sharing web app").to_s
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = stylesheet_link_tag "application"
    = javascript_include_tag :defaults
    = csrf_meta_tag
    = yield(:head)

  %body
    .header_wrapper
      .logo
        = link_to "ShareBox", root_url
      #login_user_status
        - if user_signed_in?
          = current_user.email
          |
          = link_to "Sign out", destroy_user_session_path
        - else
          %em{ "Not signed in"}
          = link_to "Sign in", new_user_session_path
          or
          = link_to "Sign up", new_user_registration_path
    #container
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"

      - if show_title?
        %h1= yield(:title)

      = yield
